.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    max-width: 450px;
    width: 100%;
}
@media(max-width: 1200px){
    .post{
        max-width: 350px;
    }
}
@media(max-width: 992px){
    .post{
        max-width: 100%;
    }
    .posts-wrapper{
        justify-content: center;
        align-items: center;
    }
}



.header-post{
    background-color: #a100ad;
    padding: 15px;
    /*border: 1px solid #787878;*/
    border-bottom: 1px solid #ffffff;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-transform: capitalize;
    margin-bottom: -1.5px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
}
.header-post a{
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
}
.book-st{
    background-color: #8d0000;
}
.travel-st{
    background-color: #b14b00;
}
.work-st{
    background-color: #4b9a00;
}
.games-st{
    background-color: #003da0;
}
.content-post{
    padding: 15px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: #232323;
    border-top: 1px solid #787878;
    border-right: 1px solid #787878;
    border-left: 1px solid #787878;
}
.footer-post{
    width: 100%;
    text-align: left;
    color: #535353;
    padding: 15px;
    font-size: 14px;
    border: 1px solid #787878;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.posts-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.controls-post{
    border: 1px solid #787878;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    border-top: none;
}

.btn-post-admin{
    width: 100%;
    max-width: 120px;
    border: none;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    background-color: #a100ad;
    cursor: pointer;
}

.category-post{
    color: #232323;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 15px;
}

.post-page{
    padding: 25px 0;
}